@font-face{
	font-family: 'hawaii_loverregular';
		src: url('hawaiilover-webfont.eot');
		src: url('hawaiilover-webfont.eot?#iefix') format('embedded-opentype'),
	 url('../fonts/hawaiilover-webfont.woff') format('woff'),
	 url('../fonts/hawaiilover-webfont.ttf') format('truetype'),
	 url('../fonts/hawaiilover-webfont.svg#hawaii_loverregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

body
{
	font-family: sans-serif;
	margin: 8px;
}
a
{
	color: inherit;
	text-decoration: inherit;
}
a:active, a:hover, a:link, a:visited
{
	border: none;
	color: inherit;
	text-decoration: inherit;
}
textarea
{
	resize: none;
}
/* Start : Customisations */
.img-salut-motard
{
	transform: rotate(-16deg);
	text-align: center;
	width: 5%;
	display: table-cell;
}
/* End : Customisations */

/* Start : Réglages des div */
.content
{
	border: 1px solid #000000;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.7);
	border-radius: 16px 16px 0 0;
	margin: 0 auto;
	width: 960px;
}
.main-content
{
	margin: 0;
	padding: 4px;
}
.shop-header
{
	height: 164px;
	padding: 0px 24px 0px 24px;
}
.shop-left-side, .shop-right-side, .shop-section
{
	display: block;
	float: left;
	overflow: hidden;
}
.shop-left-side, .shop-right-side
{
	width: 20%;
}
.shop-left-side
{
	overflow: visible;
}
.shop-right-side
{
}
.shop-section
{
	width: 60%;	
}
.shop-footer
{
	display: block;
}
#logo-header
{
	float: left;
	width: 512px;
	height: 128px;
}
#widget
{
	float: right;
	width: 256px;
	margin: 8px 0px 0px 0px;
}
#panier
{
	display: inline-block;
	float: left;
	height: 64px;
	overflow: hidden;
	text-align: center;
	width: 192px;
}
span.panier-text
{
	display: inline-block;
	font-size: 8pt;
	font-weight: bold;
		-webkit-transform: rotate(270deg);
		-moz-transform: rotate(270deg);
		-o-transform: rotate(270deg);
	letter-spacing: 2px;
}
span.panier-nb-article
{
	color: #5CB85C;
	font-size: 24pt;
	font-weight: bold;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}
#language-selector
{
	display: inline-block;
	height: 64px;
	text-align: right;
	width: 64px;
}
#customer-zone, #search-zone
{
	width: 256px;
	height: 40px;
}
.btn-100-pc
{
	width: 100%
}
.input-search
{
	height: 32px;
	width: 207px;
}
#customer-area, #left-menu, #cms-area, #aside-area, #promotion
{
	border-radius: 8px 8px 0 0;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
	margin: 4px auto 8px;
	width: 90%;
}
.advertising
{
	height: 240px;
	width: 120px;
}
.formulaires-connexion
{
	float: left;
	width: 48%;
	margin: 4px;
}
.reinsurance
{
	border-top: 1px dotted #808080;
}
.reinsurance-subdiv
{
	display: inline-block;
	float: left;
	font-size: 8pt;
	font-weight: bold;
	vertical-align: 100%;
	width: 20%;
}
#footer
{
	background: url('../images/application/footer_w960_h350.jpg');
	height: 350px;
	opacity: 0.5;
	padding: 8px;
}
#footer-mentions-marginales
{
	background-color: rgba(0, 0, 0, 0.6);
	border-radius: 16px;
	display: block;
	float: left;
	height: 96%;
	margin: 8px;
	padding: 8px;
	width: 64%;
}
#footer-contact
{
	background-color: rgba(0, 0, 0, 0.6);
	border-radius: 16px;
	display: block;
	float: right;
	height: 96%;
	margin: 8px;
	padding: 8px;
	width: 32%;
}
.footer-sub-categorie
{
	display: inline-block;
	float: left;
	margin: 8px;
	padding: 4px;
	width: 30%;
}
.footer-sub-categorie-contact
{
	display: inline-block;
	float: left;
	margin: 8px;
	padding: 4px;
	width: 94%;
}
/* End: Réglages des div */

/* Start: Réglages des en tête */
h1.logo
{
	font-family: "hawaii_loverregular";
	font-size: 50pt;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 16px;
	padding-left: 24px;
}
.header-bloc
{
	background-color: #5CB85C;
	height: 24px;
	border-radius: 8px 8px 0px 0px;
}
.header-bloc-text
{
	font-size: 10pt;
	font-weight: bold;
	color: #FFFFFF;
	padding: 5px;
	text-align: center;
	text-shadow: 1px 1px 1px #000000;
}
/* End: Réglages des en tête */
/* Start: Menu */
#menu-catalogue
{
	font-size: 10pt;
	font-weight: bold;
} 
#menu-vertical, #menu-vertical ul
{
	list-style: none outside none;
	margin: 0;
	padding: 0;
	width: 200px;
}
#menu-vertical li
{
	padding: 4px;
	position: relative;
}
#menu-vertical a
{
	display: block;
	text-decoration: none;
	color: #000000;
}
#menu-vertical a:hover
{
	background-color: #98FB98;
}
#menu-vertical ul
{
	position: absolute;
	left:-999em;
}
/* #menu-vertical li ul */
#menu-vertical li:hover ul
{
	background-color: #FFFFFF;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
	left: 170px;
	top: 2px;
}
/* End: Menu */

/* Start : Formulaires */
.right-align
{
	margin: 8px 0 0 159px;
	position: relative;
	width: 96px;
}
.input-object
{
	display: block;
}
.fieldset-text-footer, .footer-text
{
	font-size: 9pt;
	color: #FFFFFF;
	margin-bottom: 0px;
}
.fieldset-text
{
	font-size: 9pt;
	margin-bottom: 0px;
}
.footer-text-span
{
	font-size: 14pt;
}
.footer-heures-ouverture{
	color: #FFFFFF;
	font-size: 9pt;
}
.formulaires-label
{
	font-size: 8pt;
	font-style: italic;
}
.formulaires-label-footer
{
	color: #FFFFFF;
	font-size: 8pt;
	font-style: italic;
}
#suite-formulaire
{
	display: none;
}
/* End : Formulaires */

/* Start : Bloc Reinsurance */
.reinsurance-td-text
{
	height: 64px;
	vertical-align: middle;
}
.reinsurance-td-img
{
	height: 64px;
	width: 64px;
}
/* End : Bloc Reinsurance */

/* Start: Eléments de formulaire */
#f_footer_contact_mail
{
	width: 95%;
}
#f_footer_message_textarea
{
	width: 95%;
}
#f_footer_btn_envoyer
{
	margin: 8px 0 0 158px;
}
.connexion_client, .inscription_client
{
	width: 256px;
}
/* End: Eléments de formulaire */


